version: '3.8'

services:
  consumer-api:
    build: .
    container_name: consumer-api
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://transacoes-db:5432/transacoes_db
      SPRING_DATASOURCE_USERNAME: db_user
      SPRING_DATASOURCE_PASSWORD: db_password
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8082:8080"
    networks:
      - rede-sistema

volumes:
  pgdata-transacoes:

networks:
  rede-sistema:
    external: true